.titleContainer {
  text-transform: uppercase;
}

.title {
  color: lime;
  font-size: 32px;
}

.date {
  font-size: 14px;
}

.listContainer {
  margin-bottom: 30px;
  height: 150px;
  overflow: hidden;
}

.pageButton {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 150px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity .3s;
}

.pageButtonIcon {
  margin: auto;
}

.pageButton:hover {
  opacity: 1;
  transition: opacity .3s;
}

.pageButtonLeft {
  composes: pageButton;
}

.pageButtonRight {
  composes: pageButton;
  right: 0;
}
