@import '../../styles/config.css';

.titleContainer {
  text-transform: uppercase;
}

.title {
  color: lime;
  font-size: 22px;

  @media (min-width: tabletWidth) {
    font-size: 32px;
  }
}

.date {
  font-size: 12px;

  @media (min-width: tabletWidth) {
    font-size: 14px;
  }
}

.listContainer {
  margin-bottom: 30px;
  height: 120px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;

  @media (min-width: tabletWidth) {
    height: 141px;
  }

  @media (min-width: desktopWidth) {
    height: 150px;
  }
}

.pageButton {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 120px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity .3s;

  @media (min-width: tabletWidth) {
    height: 141px;
  }

  @media (min-width: desktopWidth) {
    height: 150px;
  }
}

.pageButtonIcon {
  margin: auto;
}

.pageButton:hover {
  opacity: 1;
  transition: opacity .3s;
}

.pageButtonLeft {
  composes: pageButton;
}

.pageButtonRight {
  composes: pageButton;
  right: 0;
}
