.title {
  color: lime;
  font-size: 32px;
  text-transform: uppercase;
}

.listContainer {
  position: relative;
  margin-bottom: 30px;
}

.listContainerScroll {
  composes: listContainer;
  overflow: auto;
  white-space: nowrap;
}

.listitem {
  display: inline-block;
  box-sizing: border-box;
  width: 200px;
  height: 130px;
  background-color: #999999;
  border: 1px solid #ffffff;
}

.pageListItem {
  composes: listitem;
  /*position: absolute;*/
}
