@import '../../styles/config.css';

.listItem {
  /*position: absolute;*/
  z-index: 0;
  /*display: inline-block;*/
  overflow: hidden;
  width: 160px;
  height: 120px;

  background-color: #999999;
  /*transition: left .2s ease-out;*/

  @media (min-width: tabletWidth) {
    width: 188px;
    height: 141px;
  }

  @media (min-width: desktopWidth) {
    width: 200px;
    height: 150px;
    /*transition: left .5s ease-out;*/
  }
}

.thumbnail {
  position: absolute;
  width: 100%;
  height: auto;
}

.listItemCover{
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity .3s;
}

.listItemCover:hover {
  opacity: 0;
  transition: opacity .3s;
}
